:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 192rem;
    min-height: 100vh;
    background-image: url(../img/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap__title {
    margin-bottom: 3rem;
    padding: 1rem 0;
    font-size: 5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
}


.panel {
    display: flex;
    max-width: 120rem;
    max-height: 100vh;
    margin: 0 auto;
}

.panel__excursions {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    list-style: none;
    overflow-y: scroll;
}

.excursions__item {
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 2rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.excursions__item--prototype {
    display: none;
}

.excursions__title {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}

.excursions__description {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.excursions__form {
    font-size: 1.5rem;
}

.excursions__field {
    margin-bottom: 1rem;
}

.excursions__field-input,
.order__field-input {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}



.panel__form {
    margin-top: 1rem;
    padding: 2rem;
    flex-basis: 30%;
    background-color: rgba(255, 255, 255, 0.3);
}

.uploader,
.order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form__label {
    font-size: 1.5rem;
}

.form__field {
    display: block;
    margin-bottom: 1rem;
}

.form__field--longtext {
    height: 100px;
}